<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- Page Grid -->
    <virtualType name="Danslo\VelvetCmsGraphQl\Model\FactoryWrapper\Page\Grid" type="Danslo\VelvetGraphQl\Model\FactoryWrapper">
        <arguments>
            <argument name="factory" xsi:type="string">Magento\Cms\Model\ResourceModel\Page\Grid\CollectionFactory</argument>
        </arguments>
    </virtualType>

    <virtualType name="Danslo\VelvetCmsGraphQl\Model\Resolver\Page\Grid" type="Danslo\VelvetGraphQl\Model\Resolver\Grid">
        <arguments>
            <argument name="defaultOrderField" xsi:type="string">creation_time</argument>
            <argument name="schemaType" xsi:type="string">VelvetCmsPage</argument>
            <argument name="factoryWrapper" xsi:type="object">Danslo\VelvetCmsGraphQl\Model\FactoryWrapper\Page\Grid</argument>
            <argument name="aclResource" xsi:type="string">Magento_Cms::page</argument>
        </arguments>
    </virtualType>

    <!-- Block Grid -->
    <virtualType name="Danslo\VelvetCmsGraphQl\Model\FactoryWrapper\Block\Grid" type="Danslo\VelvetGraphQl\Model\FactoryWrapper">
        <arguments>
            <argument name="factory" xsi:type="string">Magento\Cms\Model\ResourceModel\Block\Grid\CollectionFactory</argument>
        </arguments>
    </virtualType>

    <virtualType name="Danslo\VelvetCmsGraphQl\Model\Resolver\Block\Grid" type="Danslo\VelvetGraphQl\Model\Resolver\Grid">
        <arguments>
            <argument name="defaultOrderField" xsi:type="string">creation_time</argument>
            <argument name="schemaType" xsi:type="string">VelvetCmsBlock</argument>
            <argument name="factoryWrapper" xsi:type="object">Danslo\VelvetCmsGraphQl\Model\FactoryWrapper\Block\Grid</argument>
            <argument name="aclResource" xsi:type="string">Magento_Cms::block</argument>
        </arguments>
    </virtualType>

    <!-- Factory Wrappers -->
    <virtualType name="Danslo\VelvetCmsGraphQl\Model\FactoryWrapper\Block" type="Danslo\VelvetGraphQl\Model\FactoryWrapper">
        <arguments>
            <argument name="factory" xsi:type="string">Magento\Cms\Model\BlockFactory</argument>
        </arguments>
    </virtualType>

    <virtualType name="Danslo\VelvetCmsGraphQl\Model\FactoryWrapper\Page" type="Danslo\VelvetGraphQl\Model\FactoryWrapper">
        <arguments>
            <argument name="factory" xsi:type="string">Magento\Cms\Model\PageFactory</argument>
        </arguments>
    </virtualType>

    <!-- Block CRUD -->
    <virtualType name="Danslo\VelvetCmsGraphQl\Model\Resolver\Entity\Loader\CmsBlock" type="Danslo\VelvetGraphQl\Model\Resolver\Entity\Loader">
        <arguments>
            <argument name="factoryWrapper" xsi:type="object">Danslo\VelvetCmsGraphQl\Model\FactoryWrapper\Block</argument>
            <argument name="resourceModel" xsi:type="object">Magento\Cms\Model\ResourceModel\Block</argument>
            <argument name="aclResource" xsi:type="string">Magento_Cms::block</argument>
        </arguments>
    </virtualType>

    <virtualType name="Danslo\VelvetCmsGraphQl\Model\Resolver\Entity\Persister\CmsBlock" type="Danslo\VelvetGraphQl\Model\Resolver\Entity\Persister">
        <arguments>
            <argument name="factoryWrapper" xsi:type="object">Danslo\VelvetCmsGraphQl\Model\FactoryWrapper\Block</argument>
            <argument name="resourceModel" xsi:type="object">Magento\Cms\Model\ResourceModel\Block</argument>
            <argument name="aclResource" xsi:type="string">Magento_Cms::block</argument>
        </arguments>
    </virtualType>

    <virtualType name="Danslo\VelvetCmsGraphQl\Model\Resolver\Entity\Deleter\CmsBlock" type="Danslo\VelvetGraphQl\Model\Resolver\Entity\Deleter">
        <arguments>
            <argument name="factoryWrapper" xsi:type="object">Danslo\VelvetCmsGraphQl\Model\FactoryWrapper\Block</argument>
            <argument name="resourceModel" xsi:type="object">Magento\Cms\Model\ResourceModel\Block</argument>
            <argument name="aclResource" xsi:type="string">Magento_Cms::block</argument>
        </arguments>
    </virtualType>

    <!-- Page CRUD -->
    <virtualType name="Danslo\VelvetCmsGraphQl\Model\Resolver\Entity\Loader\CmsPage" type="Danslo\VelvetGraphQl\Model\Resolver\Entity\Loader">
        <arguments>
            <argument name="factoryWrapper" xsi:type="object">Danslo\VelvetCmsGraphQl\Model\FactoryWrapper\Page</argument>
            <argument name="resourceModel" xsi:type="object">Magento\Cms\Model\ResourceModel\Page</argument>
            <argument name="aclResource" xsi:type="string">Magento_Cms::page</argument>
        </arguments>
    </virtualType>

    <virtualType name="Danslo\VelvetCmsGraphQl\Model\Resolver\Entity\Persister\CmsPage" type="Danslo\VelvetGraphQl\Model\Resolver\Entity\Persister">
        <arguments>
            <argument name="factoryWrapper" xsi:type="object">Danslo\VelvetCmsGraphQl\Model\FactoryWrapper\Page</argument>
            <argument name="resourceModel" xsi:type="object">Magento\Cms\Model\ResourceModel\Page</argument>
            <argument name="aclResource" xsi:type="string">Magento_Cms::page</argument>
        </arguments>
    </virtualType>

    <virtualType name="Danslo\VelvetCmsGraphQl\Model\Resolver\Entity\Deleter\CmsPage" type="Danslo\VelvetGraphQl\Model\Resolver\Entity\Deleter">
        <arguments>
            <argument name="factoryWrapper" xsi:type="object">Danslo\VelvetCmsGraphQl\Model\FactoryWrapper\Page</argument>
            <argument name="resourceModel" xsi:type="object">Magento\Cms\Model\ResourceModel\Page</argument>
            <argument name="aclResource" xsi:type="string">Magento_Cms::page</argument>
        </arguments>
    </virtualType>
</config>
